version: "3.9"
services:
  mongo:
    image: mongo
    volumes:
      - mongo-data:/data/db
  bot:
    build: .
    depends_on:
      - mongo
    environment:
      DB_URI: "mongodb://mongo:27017"
      #DISCORD_TOKEN: "YOUR_DISCORD_TOKEN_HERE"
      #BOT_OWNER: "YOUR_DISCORD_USER_ID_HERE"
      #GEMINI_API_KEY: "YOUR_GEMINI_API_KEY_HERE"
      #IGDB_CLIENT_ID: "YOUR_IGDB_CLIENT_ID_HERE"
      #IGDB_CLIENT_SECRET: "YOUR_IGDB_API_KEY_HERE"

      # Developer settings
      #DEBUG_MESSAGES: true
      #DEBUG_GUILD_ID: "${DEBUG_GUILD_ID}"
volumes:
  mongo-data: