aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.11.1
certifi==2022.5.18.1
chardet==4.0.0
charset-normalizer==2.0.12
cloudscraper==1.2.60
discord.py==1.7.3
idna==3.3
multidict==6.0.2
psutil==5.9.1
pymongo==4.1.1
pyparsing==3.0.9
PyYAML==6.0
requests==2.27.1
requests-toolbelt==0.9.1
soupsieve==2.3.2.post1
typing_extensions==4.2.0
urllib3==1.26.9
yarl==1.7.2
