aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.1.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
discord.py==1.6.0
idna==2.10
idna-ssl==1.1.0
multidict==4.7.6
requests==2.24.0
soupsieve==2.0.1
typing-extensions==3.7.4.3
urllib3==1.26.5
yarl==1.5.1
